<%= render 'shared/client_nav' %>
<div class="flex h-screen">
  <div class="w-1/6 bg-gray-200">
    <div class="p-4 my-32">
      <ul class="space-y-2">
        <li class="px-2 py-2 bg-white rounded-md cursor-pointer text-gray-600 hover:text-gray-800 hover:bg-gray-100">Overview</li>
        <li class="px-2 py-2 bg-white rounded-md cursor-pointer text-gray-600 hover:text-gray-800 hover:bg-gray-100">Consulting</li>
        <li class="px-2 py-2 bg-white rounded-md cursor-pointer text-gray-600 hover:text-gray-800 hover:bg-gray-100">Messages</li>
        <li class="px-2 py-2 bg-white rounded-md cursor-pointer text-gray-600 hover:text-gray-800 hover:bg-gray-100">Projects</li>
        <li class="px-2 py-2 bg-white rounded-md cursor-pointer text-gray-600 hover:text-gray-800 hover:bg-gray-100">Settings</li>
        <li class="px-2 py-2 bg-white rounded-md cursor-pointer text-gray-600 hover:text-gray-800 hover:bg-gray-100">Help</li>
      </ul>
    </div>
  </div>
  <div class="w-5/6 bg-gray-100">
    <div class="p-4">

      Client Dashboard
    </div>
  </div>
</div>

