<div class="flex items-center justify-center h-screen devise">
  <div class="max-w-md w-full mx-auto">
    <%= form_with(url: user_role_path(@user), method: :post) do |form| %>
      <div class="bg-white shadow-lg rounded-lg p-8">
        <h2 class="text-3xl font-bold mb-8">Choose Your Role</h2>
        <div class="flex justify-center items-center space-x-8">
          <div class="cursor-pointer hover:bg-blue-300 bg-blue-200 p-4 rounded-lg text-center"
               onclick="document.querySelector('input[name=\'role\']').value = 'client'; form.submit();">
            <h3 class="mb-4 text-2xl font-bold">Client</h3>
          </div>
          <div class="cursor-pointer hover:bg-green-300 bg-green-200 p-4 rounded-lg text-center"
               onclick="document.querySelector('input[name=\'role\']').value = 'professional'; form.submit();">
            <h3 class="mb-4 text-2xl font-bold">Professional</h3>
          </div>
        </div>
        <input type="hidden" name="role" value="">
        <div class="mt-8 flex justify-center">
          <%= form.button 'Continue', class: 'bg-blue-500 font-bold hover:bg-blue-700 focus:outline-none focus:shadow-outline px-4 py-2 rounded text-white', type: :submit %>
        </div>
      </div>
    <% end %>
  </div>
</div>
