    <link rel='stylesheet' href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'>
    <style>

        @import url('https://fonts.googleapis.com/css?family=Hind:300,400');


        h3 {
            font-size: 1.75rem;
            color: #373d51;
            padding: 1.3rem;
            margin: 0;
        }

        .accordion a {
            position: relative;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            width: 100%;
            padding: 1rem 3rem 1rem 1rem;
            color: #7288a2;
            font-size: 1.15rem;
            font-weight: 400;
            border: 0px solid #21556C;
        }

        .accordion a:hover,
        .accordion a:hover::after {
            cursor: pointer;
            background-color: #21556C;
            color: white;
        }

        .accordion a:hover::after {
            border: 1px solid #fff;
        }

        .accordion a.active {
            color: #fff;
            background-color: #21556C;
        }

        .accordion a::after {
            font-family: 'Ionicons';
            content: '\f218';
            position: absolute;
            float: right;
            right: 1rem;
            font-size: 1rem;
            color: #21556C;
            padding: 2px;
            width: 30px;
            height: 30px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            border: 0px solid #21556C;
            text-align: center;
        }

        .accordion a.active::after {
            font-family: 'Ionicons';
            content: '\f209';
            color: #fff;
            padding: 2px;
            border: 0px solid #fff;
        }

        .accordion .content {
            padding: 0 1rem;
            max-height: 0;
            border: 0px solid #e5e5e5;
            overflow: hidden;
            clear: both;
            -webkit-transition: all 0.2s ease 0.15s;
            -o-transition: all 0.2s ease 0.15s;
            transition: all 0.2s ease 0.15s;
        }

        .accordion .content p {
            font-size: 1rem;
            font-weight: 300;
        }

        .accordion .content.active {
            opacity: 1;
            padding: 1rem;
            max-height: 100%;
            -webkit-transition: all 0.35s ease 0.15s;
            -o-transition: all 0.35s ease 0.15s;
            transition: all 0.35s ease 0.15s;
        }
    </style>

    <div class="container m-auto">
      <div class="grid grid-cols-2 gap-4 mt-12">
        <div class="p-4">
          <h2 class="text-xl font-bold mb-12 ml-4">Frequently Asked Questions</h2>
          <div class="container">
            <div class="accordion">
              <div class="accordion-item mb-4 shadow-md">
                <a>What can JavaScript Do?</a>
                <div class="content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                    potenti.</p>
                </div>
              </div>
              <div class="accordion-item  mb-4 shadow-md">
                <a>How JavaScript Can Modify HTML and CSS Values?</a>
                <div class="content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                    potenti.</p>
                </div>
              </div>
              <div class="accordion-item mb-4 shadow-md">
                <a>What Is SVG?</a>
                <div class="content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                    potenti.</p>
                </div>
              </div>
              <div class="accordion-item mb-4 shadow-md">
                <a>Is FAQ Section Matters In Website?</a>
                <div class="content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                    potenti.</p>
                </div>
              </div>
              <div class="accordion-item mb-4 shadow-md">
                <a>How To Create a Light FAQ Element?</a>
                <div class="content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                    potenti.</p>
                </div>
              </div>
            </div>

          </div>

        </div>
        <div class="p-4">
          <h2 class="text-xl font-bold mb-12" style="height: 33px;
            width: 259px;
            left: 832px;
            top: 221px;">How Can We Help You?</h2>
          <form>
            <input class="rounded px-4 py-2 mb-4 shadow-md" type="text" name="fullname" placeholder="Full Name" style="height: 54px; width: 387px; border-radius: 0px; padding: 8px;">
            <input class="rounded px-4 py-2 mb-4 shadow-md" type="text" name="title" placeholder="Title" style="height: 54px; width: 387px; border-radius: 0px; padding: 8px;">
            <label class="block mb-2">Describe your Problem</label>
            <textarea class=" shadow-lg bg-gray-100 px-4 py-2" name="problem" placeholder="Describe your problem" style="height: 330px; width: 488px; border-radius: 0px; padding: 8px;"></textarea>
            <br>
            <button class="text-white font-bold py-2 px-4" style="background-color: #21556C;height: 58px;
              width: 219px;
              left: 832px;
              top: 886px;
              border-radius: 8px;
              padding: 8px;
            " type="button">Submit</button>
          </form>

        </div>
      </div>
    </div>


    <script>

        const items = document.querySelectorAll(".accordion a");

        function toggleAccordion() {
            this.classList.toggle('active');
            this.nextElementSibling.classList.toggle('active');
        }

        items.forEach(item => item.addEventListener('click', toggleAccordion));
    </script>