<div class="flex justify-center items-center h-screen home_page">
  <div class="home_page_text">
    <h1>
      Transforming your space into a masterpiece of luxury with our expert interior design team
    </h1>
  </div>
</div>

<!-------------------------------------Our Process--------------------------------------------------------------->
<div class="our_process">
  <div class="min-h-screen flex flex-col items-center justify-center">
    <div class="max-w-screen-lg text-white p-8 rounded-lg shadow-lg" style="background: rgba(33, 85, 108, 1);">
      <h2 class="text-2xl  mb-4">Our Process</h2>
      <ul>
        <li class="mb-4">
          <div class="flex items-start">
            <div class="flex-shrink-0">
              <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
              </svg>
            </div>
            <div class="ml-3 pb-2" style="border-bottom: 1px solid white">
              <p class="font-bold">Consultation</p>
              <p>We begin with an initial consultation where we understand your needs, preferences, and budget.</p>
            </div>
          </div>
        </li>
        <li class="mb-4">
          <div class="flex items-start">
            <div class="flex-shrink-0">
              <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
              </svg>
            </div>
            <div class="ml-3 pb-2" style="border-bottom: 1px solid white">
              <p class="font-bold">Design Concept</p>
              <p>Based on your requirements, we create a design concept that includes a color scheme, furniture and
                décor selection, and material choice.</p>
            </div>
          </div>
        </li>
        <li class="mb-4">
          <div class="flex items-start">
            <div class="flex-shrink-0">
              <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
              </svg>
            </div>
            <div class="ml-3 pb-2" style="border-bottom: 1px solid white">
              <p class="font-bold">Approval</p>
              <p>Once you approve the design concept, we proceed with the implementation process.</p>
            </div>
          </div>
        </li>
        <li class="mb-4">
          <div class="flex items-start">
            <div class="flex-shrink-0">
              <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
              </svg>
            </div>
            <div class="ml-3 pb-2" style="border-bottom: 1px solid white">
              <p class="font-bold">
                Execution</p>
              <p>We work with a team of trusted contractors and vendors to ensure that the project is executed
                flawlessly.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="flex items-start">
            <div class="flex-shrink-0">
              <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
              </svg>
            </div>
            <div class="ml-3 pb-2" style="border-bottom: 1px solid white">
              <p class="font-bold">Final Reveal</p>
              <p>We do a final work-through of the project to ensure that everything meets your expectations.</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<!---------------------------------------------------------Portfolio------------------------------------------------------------------------->
<div class="container m-auto">
  <h2 class="text-2xl  mb-4">Our Portfolio</h2>
  <div class="flex justify-center">
    <div class="w-full md:w-589px h-full mx-4 my-8 bg-white rounded-lg shadow-lg">
      <div class="md:flex h-full">
        <div class="md:w-1/3 h-full">
          <%= image_tag 'homepage/kitchen.png', alt: 'kitchen', class: 'h-full w-full object-cover rounded-t-lg md:rounded-l-lg md:rounded-t-none' %>
        </div>
        <div class="md:w-2/3 p-4">
          <h3 class="text-lg font-bold mb-2">Kitchen</h3>
          <p class="text-gray-700">Lorem ipsum dolor sit amet consectetur. Volutpat nunc est a magna pulvinar.
            Pellentesque et massa sed et sapien ipsum. Amet nulla amet etiam placerat. Elementum mi urna posuere non.
            Placerat enim platea amet tellus sed elit turpis lorem. Ultricies tellus porta dolor varius velit quis
            fringilla dolor. Bibendum in eget eget tellus tortor.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="flex justify-center">
    <div class="w-full md:w-589px h-full mx-4 my-8 bg-white rounded-lg shadow-lg">
      <div class="md:flex h-full">
        <div class="md:w-2/3 p-4">
          <h3 class="text-lg font-bold mb-2">Living Rooms</h3>
          <p class="text-gray-700">Lorem ipsum dolor sit amet consectetur. Volutpat nunc est a magna pulvinar.
            Pellentesque et massa sed et sapien ipsum. Amet nulla amet etiam placerat. Elementum mi urna posuere non.
            Placerat enim platea amet tellus sed elit turpis lorem. Ultricies tellus porta dolor varius velit quis
            fringilla dolor. Bibendum in eget eget tellus tortor.</p>
        </div>
        <div class="md:w-1/3 h-full">
          <%= image_tag 'homepage/livingroom.png', alt: 'livingroom', class: 'h-full w-full object-cover rounded-t-lg md:rounded-l-lg md:rounded-t-none' %>
        </div>
      </div>
    </div>
  </div>

  <div class="flex justify-center">
    <div class="w-full md:w-589px h-full mx-4 my-8 bg-white rounded-lg shadow-lg">
      <div class="md:flex h-full">
        <div class="md:w-1/3 h-full">
          <%= image_tag 'homepage/bedroom.png', alt: 'livingroom', class: 'h-full w-full object-cover rounded-t-lg md:rounded-l-lg md:rounded-t-none' %>
        </div>
        <div class="md:w-2/3 p-4">
          <h3 class="text-lg font-bold mb-2">Bed Rooms</h3>
          <p class="text-gray-700">Lorem ipsum dolor sit amet consectetur. Volutpat nunc est a magna pulvinar.
            Pellentesque et massa sed et sapien ipsum. Amet nulla amet etiam placerat. Elementum mi urna posuere non.
            Placerat enim platea amet tellus sed elit turpis lorem. Ultricies tellus porta dolor varius velit quis
            fringilla dolor. Bibendum in eget eget tellus tortor.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!----------------------------------------------------------------------------------started--------------------------------------------------------->

<div class="relative m-auto mb-6" style="height: 340px; width: 996px;">
  <div class="absolute inset-0 bg-cover bg-center rounded-lg" style="background-image: url(<%= asset_path 'homepage/started.jpg' %>)"></div>
  <div class="absolute inset-0 bg-black bg-opacity-40 rounded-lg"></div>
  <div class="absolute inset-0 flex flex-col items-center justify-center">
    <h2 class="text-white text-2xl font-semibold mb-4">Have any Interior Design Project?</h2>
    <button class="bg-white text-black px-6 py-3 rounded-full">Get Started</button>
  </div>
</div>
