<div class="flex justify-center items-center h-screen home_page">
 <div class="home_page_text">
   <h1>
     Transforming  your space into  a masterpiece of luxury with our expert interior design team
   </h1>
 </div>
</div>
