<div class="relative h-screen" style="height: 400px;">
  <div class="absolute inset-0 bg-cover bg-center" style="background-image: url(<%= asset_path 'about/pricing.jpg' %>)">
    <div class="absolute inset-0 flex items-center justify-center">
      <button class="text-white px-6 py-3" style="border: 2px solid white">Our Pricing</button>
    </div>
  </div>
</div>

<div class="mt-4">
  <h1 style="font-family: Manrope;font-size: 24px;font-weight: 600;line-height: 33px;letter-spacing: 0px;text-align: center;">Plans
    and Pricing</h1>
  <p style="font-family: Manrope;font-size: 18px;font-weight: 400;line-height: 25px;letter-spacing: 0px;text-align: center;">Let’s
    find the right solution for your business</p>
</div>

<div class="container my-8 px-6 mx-auto  p-4">
  <section class="mb-8 text-gray-800">
    <div class="grid lg:grid-cols-3 gap-6 lg:gap-x-12">
      <div class="mb-6 lg:mb-0">
        <div class="block rounded-lg shadow-lg bg-white h-full">
          <div class="p-6  border-gray-300">
            <p class="uppercase mb-4 text-sm">
              <strong>Basic</strong>
            </p>
            <h3 class="text-2xl mb-6">
              <strong>Free</strong>
              <p style="
              font-family: Manrope;
                font-size: 16px;
                font-weight: 400;
                line-height: 22px;
                letter-spacing: 0px;
              ">Forever</p>
            </h3>
          </div>
          <div class="mx-4">
            <button type="button"
                    class="inline-block px-6 py-4 bg-blue-600 text-white font-medium text-xs leading-tight uppercase  shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out w-full"
                    data-mdb-ripple="true" data-ripple-color="light" style="background: rgba(33, 85, 108, 1);" >
              Start Free Trial
            </button>
          </div>
          <div class="p-6">
            <ol class="list-inside">
              <li class="mb-4 flex items-center">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check"
                     class="text-green-600 w-4 h-4 mr-2" role="img" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 512 512">
                  <path fill="currentColor"
                        d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z">
                  </path>
                </svg>
                2  Projects
              </li>
              <li class="mb-4 flex items-center">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check"
                     class="text-green-600 w-4 h-4 mr-2" role="img" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 512 512">
                  <path fill="currentColor"
                        d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z">
                  </path>
                </svg>
                25 GB Storage
              </li>
              <li class="mb-4 flex items-center">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check"
                     class="text-green-600 w-4 h-4 mr-2" role="img" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 512 512">
                  <path fill="currentColor"
                        d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z">
                  </path>
                </svg>
                2 Members
              </li>
              <li class="mb-4 flex items-center">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check"
                     class="text-green-600 w-4 h-4 mr-2" role="img" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 512 512">
                  <path fill="currentColor"
                        d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z">
                  </path>
                </svg>
                5 Integrations
              </li>
              <li class="mb-4 flex items-center">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check"
                     class="text-green-600 w-4 h-4 mr-2" role="img" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 512 512">
                  <path fill="currentColor"
                        d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z">
                  </path>
                </svg>
                24/7 Support
              </li>
              <li class="mb-4 flex items-center">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check"
                     class="text-green-600 w-4 h-4 mr-2" role="img" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 512 512">
                  <path fill="currentColor"
                        d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z">
                  </path>
                </svg>
                30 Days money back guarantee
              </li>
            </ol>
          </div>
        </div>
      </div>

      <div class="mb-6 lg:mb-0">
        <div class="block rounded-lg shadow-lg bg-white h-full">
          <div class="p-6  border-gray-300">
            <p class="uppercase mb-4 text-sm">
              <strong>Premium</strong>
            </p>
            <h3 class="text-2xl mb-6">
              <strong>$ 35</strong>
              <small class="text-gray-500 text-sm">/year</small>
            </h3>
          </div>
          <div class="mx-4">
            <button type="button"
                    class="inline-block px-6 py-4 bg-transparent text-blue-600 font-medium text-xs leading-tight uppercase  hover:text-blue-700 hover:bg-gray-100 focus:bg-gray-100 focus:outline-none focus:ring-0 active:bg-gray-200 transition duration-150 ease-in-out w-full"
                    style="background-color: hsl(0, 0%, 95%); color:  rgba(33, 85, 108, 1);" data-mdb-ripple="true" data-mdb-ripple="true"
                    data-ripple-color="primary">
              Get Started
            </button>
          </div>
          <div class="p-6">
            <ol class="list-inside">
              <li class="mb-4 flex items-center">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check"
                     class="text-green-600 w-4 h-4 mr-2" role="img" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 512 512">
                  <path fill="currentColor"
                        d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z">
                  </path>
                </svg>
                2  Projects
              </li>
              <li class="mb-4 flex items-center">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check"
                     class="text-green-600 w-4 h-4 mr-2" role="img" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 512 512">
                  <path fill="currentColor"
                        d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z">
                  </path>
                </svg>
                25 GB Storage
              </li>
              <li class="mb-4 flex items-center">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check"
                     class="text-green-600 w-4 h-4 mr-2" role="img" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 512 512">
                  <path fill="currentColor"
                        d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z">
                  </path>
                </svg>
                2 Members
              </li>
              <li class="mb-4 flex items-center">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check"
                     class="text-green-600 w-4 h-4 mr-2" role="img" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 512 512">
                  <path fill="currentColor"
                        d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z">
                  </path>
                </svg>
                5 Integrations
              </li>
              <li class="mb-4 flex items-center">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check"
                     class="text-green-600 w-4 h-4 mr-2" role="img" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 512 512">
                  <path fill="currentColor"
                        d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z">
                  </path>
                </svg>
                24/7 Support
              </li>
              <li class="mb-4 flex items-center">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check"
                     class="text-green-600 w-4 h-4 mr-2" role="img" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 512 512">
                  <path fill="currentColor"
                        d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z">
                  </path>
                </svg>
                30 Days money back guarantee
              </li>
            </ol>
          </div>
        </div>
      </div>

      <div class="mb-6 lg:mb-0">
        <div class="block rounded-lg shadow-lg bg-white h-full">
          <div class="p-6  border-gray-300">
            <p class="uppercase mb-4 text-sm">
              <strong>Advance</strong>
            </p>
            <h3 class="text-2xl mb-6">
              <strong>$ 99</strong>
              <small class="text-gray-500 text-sm">/year</small>
            </h3>
          </div>
          <div class="mx-4">
            <button type="button"
                    class="inline-block px-6 py-4 bg-transparent text-blue-600 font-medium text-xs leading-tight uppercase  hover:text-blue-700 hover:bg-gray-100 focus:bg-gray-100 focus:outline-none focus:ring-0 active:bg-gray-200 transition duration-150 ease-in-out w-full"
                    style="background-color: hsl(0, 0%, 95%); color:  rgba(33, 85, 108, 1);
                    " data-mdb-ripple="true" data-mdb-ripple="true"
                    data-ripple-color="primary">
              Get Started
            </button>
          </div>
          <div class="p-6">
            <ol class="list-inside">
              <li class="mb-4 flex items-center">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check"
                     class="text-green-600 w-4 h-4 mr-2" role="img" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 512 512">
                  <path fill="currentColor"
                        d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z">
                  </path>
                </svg>
                2  Projects
              </li>
              <li class="mb-4 flex items-center">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check"
                     class="text-green-600 w-4 h-4 mr-2" role="img" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 512 512">
                  <path fill="currentColor"
                        d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z">
                  </path>
                </svg>
                25 GB Storage
              </li>
              <li class="mb-4 flex items-center">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check"
                     class="text-green-600 w-4 h-4 mr-2" role="img" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 512 512">
                  <path fill="currentColor"
                        d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z">
                  </path>
                </svg>
                2 Members
              </li>
              <li class="mb-4 flex items-center">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check"
                     class="text-green-600 w-4 h-4 mr-2" role="img" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 512 512">
                  <path fill="currentColor"
                        d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z">
                  </path>
                </svg>
                5 Integrations
              </li>
              <li class="mb-4 flex items-center">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check"
                     class="text-green-600 w-4 h-4 mr-2" role="img" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 512 512">
                  <path fill="currentColor"
                        d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z">
                  </path>
                </svg>
                24/7 Support
              </li>
              <li class="mb-4 flex items-center">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check"
                     class="text-green-600 w-4 h-4 mr-2" role="img" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 512 512">
                  <path fill="currentColor"
                        d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z">
                  </path>
                </svg>
                30 Days money back guarantee
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!--.....................................................................................FAQ..................................................................-->
<main class="p-5 bg-light-blue">
  <div class="flex justify-center items-start my-2">
    <div class="w-full sm:w-10/12 md:w-1/2 my-1">
      <h2 class="text-xl font-semibold text-vnet-blue mb-2">FAQ - Consultant, Manage, Etc.</h2>
      <ul class="flex flex-col">
        <li class="bg-white my-2 shadow-lg" x-data="accordion(1)">
          <h2
            @click="handleClick()"
            class="flex flex-row justify-between items-center font-semibold p-3 cursor-pointer"
          >
            <span>When will my order arrive?</span>
            <svg
              :class="handleRotate()"
              class="fill-current text-purple-700 h-6 w-6 transform transition-transform duration-500"
              viewBox="0 0 20 20"
            >
              <path d="M13.962,8.885l-3.736,3.739c-0.086,0.086-0.201,0.13-0.314,0.13S9.686,12.71,9.6,12.624l-3.562-3.56C5.863,8.892,5.863,8.611,6.036,8.438c0.175-0.173,0.454-0.173,0.626,0l3.25,3.247l3.426-3.424c0.173-0.172,0.451-0.172,0.624,0C14.137,8.434,14.137,8.712,13.962,8.885 M18.406,10c0,4.644-3.763,8.406-8.406,8.406S1.594,14.644,1.594,10S5.356,1.594,10,1.594S18.406,5.356,18.406,10 M17.521,10c0-4.148-3.373-7.521-7.521-7.521c-4.148,0-7.521,3.374-7.521,7.521c0,4.147,3.374,7.521,7.521,7.521C14.148,17.521,17.521,14.147,17.521,10"></path>
            </svg>
          </h2>
          <div
            x-ref="tab"
            :style="handleToggle()"
            class="border-l-2 border-purple-600 overflow-hidden max-h-0 duration-500 transition-all"
          >
            <p class="p-3 text-gray-900">
              Shipping time is set by our delivery partners, according to the delivery method chosen by you. Additional details can be found in the order confirmation
            </p>
          </div>
        </li>
        <li class="bg-white my-2 shadow-lg" x-data="accordion(2)">
          <h2
            @click="handleClick()"
            class="flex flex-row justify-between items-center font-semibold p-3 cursor-pointer"
          >
            <span>How do I track my order?</span>
            <svg
              :class="handleRotate()"
              class="fill-current text-purple-700 h-6 w-6 transform transition-transform duration-500"
              viewBox="0 0 20 20"
            >
              <path d="M13.962,8.885l-3.736,3.739c-0.086,0.086-0.201,0.13-0.314,0.13S9.686,12.71,9.6,12.624l-3.562-3.56C5.863,8.892,5.863,8.611,6.036,8.438c0.175-0.173,0.454-0.173,0.626,0l3.25,3.247l3.426-3.424c0.173-0.172,0.451-0.172,0.624,0C14.137,8.434,14.137,8.712,13.962,8.885 M18.406,10c0,4.644-3.763,8.406-8.406,8.406S1.594,14.644,1.594,10S5.356,1.594,10,1.594S18.406,5.356,18.406,10 M17.521,10c0-4.148-3.373-7.521-7.521-7.521c-4.148,0-7.521,3.374-7.521,7.521c0,4.147,3.374,7.521,7.521,7.521C14.148,17.521,17.521,14.147,17.521,10"></path>
            </svg>
          </h2>
          <div
            class="border-l-2 border-purple-600 overflow-hidden max-h-0 duration-500 transition-all"
            x-ref="tab"
            :style="handleToggle()"
          >
            <p class="p-3 text-gray-900">
              Once shipped, you’ll get a confirmation email that includes a tracking number and additional information regarding tracking your order.
            </p>
          </div>
        </li>
        <li class="bg-white my-2 shadow-lg" x-data="accordion(3)">
          <h2
            @click="handleClick()"
            class="flex flex-row justify-between items-center font-semibold p-3 cursor-pointer"
          >
            <span>What’s your return policy?</span>
            <svg
              :class="handleRotate()"
              class="fill-current text-purple-700 h-6 w-6 transform transition-transform duration-500"
              viewBox="0 0 20 20"
            >
              <path d="M13.962,8.885l-3.736,3.739c-0.086,0.086-0.201,0.13-0.314,0.13S9.686,12.71,9.6,12.624l-3.562-3.56C5.863,8.892,5.863,8.611,6.036,8.438c0.175-0.173,0.454-0.173,0.626,0l3.25,3.247l3.426-3.424c0.173-0.172,0.451-0.172,0.624,0C14.137,8.434,14.137,8.712,13.962,8.885 M18.406,10c0,4.644-3.763,8.406-8.406,8.406S1.594,14.644,1.594,10S5.356,1.594,10,1.594S18.406,5.356,18.406,10 M17.521,10c0-4.148-3.373-7.521-7.521-7.521c-4.148,0-7.521,3.374-7.521,7.521c0,4.147,3.374,7.521,7.521,7.521C14.148,17.521,17.521,14.147,17.521,10"></path>
            </svg>
          </h2>
          <div
            class="border-l-2 border-purple-600 overflow-hidden max-h-0 duration-500 transition-all"
            x-ref="tab"
            :style="handleToggle()"
          >
            <p class="p-3 text-gray-900">
              We allow the return of all items within 30 days of your original order’s date. If you’re interested in returning your items, send us an email with your order number and we’ll ship a return label.
            </p>
          </div>
        </li>
        <li class="bg-white my-2 shadow-lg" x-data="accordion(4)">
          <h2
            @click="handleClick()"
            class="flex flex-row justify-between items-center font-semibold p-3 cursor-pointer"
          >
            <span>How do I make changes to an existing order?</span>
            <svg
              :class="handleRotate()"
              class="fill-current text-purple-700 h-6 w-6 transform transition-transform duration-500"
              viewBox="0 0 20 20"
            >
              <path d="M13.962,8.885l-3.736,3.739c-0.086,0.086-0.201,0.13-0.314,0.13S9.686,12.71,9.6,12.624l-3.562-3.56C5.863,8.892,5.863,8.611,6.036,8.438c0.175-0.173,0.454-0.173,0.626,0l3.25,3.247l3.426-3.424c0.173-0.172,0.451-0.172,0.624,0C14.137,8.434,14.137,8.712,13.962,8.885 M18.406,10c0,4.644-3.763,8.406-8.406,8.406S1.594,14.644,1.594,10S5.356,1.594,10,1.594S18.406,5.356,18.406,10 M17.521,10c0-4.148-3.373-7.521-7.521-7.521c-4.148,0-7.521,3.374-7.521,7.521c0,4.147,3.374,7.521,7.521,7.521C14.148,17.521,17.521,14.147,17.521,10"></path>
            </svg>
          </h2>
          <div
            class="border-l-2 border-purple-600 overflow-hidden max-h-0 duration-500 transition-all"
            x-ref="tab"
            :style="handleToggle()"
          >
            <p class="p-3 text-gray-900">
              Changes to an existing order can be made as long as the order is still in “processing” status. Please contact our team via email and we’ll make sure to apply the needed changes. If your order has already been shipped, we cannot apply any changes to it. If you are unhappy with your order when it arrives, please contact us for any changes you may require.
            </p>
          </div>
        </li>
        <li class="bg-white my-2 shadow-lg" x-data="accordion(5)">
          <h2
            @click="handleClick()"
            class="flex flex-row justify-between items-center font-semibold p-3 cursor-pointer"
          >
            <span>What shipping options do you have?</span>
            <svg
              :class="handleRotate()"
              class="fill-current text-purple-700 h-6 w-6 transform transition-transform duration-500"
              viewBox="0 0 20 20"
            >
              <path d="M13.962,8.885l-3.736,3.739c-0.086,0.086-0.201,0.13-0.314,0.13S9.686,12.71,9.6,12.624l-3.562-3.56C5.863,8.892,5.863,8.611,6.036,8.438c0.175-0.173,0.454-0.173,0.626,0l3.25,3.247l3.426-3.424c0.173-0.172,0.451-0.172,0.624,0C14.137,8.434,14.137,8.712,13.962,8.885 M18.406,10c0,4.644-3.763,8.406-8.406,8.406S1.594,14.644,1.594,10S5.356,1.594,10,1.594S18.406,5.356,18.406,10 M17.521,10c0-4.148-3.373-7.521-7.521-7.521c-4.148,0-7.521,3.374-7.521,7.521c0,4.147,3.374,7.521,7.521,7.521C14.148,17.521,17.521,14.147,17.521,10"></path>
            </svg>
          </h2>
          <div
            class="border-l-2 border-purple-600 overflow-hidden max-h-0 duration-500 transition-all"
            x-ref="tab"
            :style="handleToggle()"
          >
            <p class="p-3 text-gray-900">
              For USA domestic orders we offer FedEx and USPS shipping.
            </p>
          </div>
        </li>
        <li class="bg-white my-2 shadow-lg" x-data="accordion(6)">
          <h2
            @click="handleClick()"
            class="flex flex-row justify-between items-center font-semibold p-3 cursor-pointer"
          >
            <span>What payment methods do you accept?</span>
            <svg
              :class="handleRotate()"
              class="fill-current text-purple-700 h-6 w-6 transform transition-transform duration-500"
              viewBox="0 0 20 20"
            >
              <path d="M13.962,8.885l-3.736,3.739c-0.086,0.086-0.201,0.13-0.314,0.13S9.686,12.71,9.6,12.624l-3.562-3.56C5.863,8.892,5.863,8.611,6.036,8.438c0.175-0.173,0.454-0.173,0.626,0l3.25,3.247l3.426-3.424c0.173-0.172,0.451-0.172,0.624,0C14.137,8.434,14.137,8.712,13.962,8.885 M18.406,10c0,4.644-3.763,8.406-8.406,8.406S1.594,14.644,1.594,10S5.356,1.594,10,1.594S18.406,5.356,18.406,10 M17.521,10c0-4.148-3.373-7.521-7.521-7.521c-4.148,0-7.521,3.374-7.521,7.521c0,4.147,3.374,7.521,7.521,7.521C14.148,17.521,17.521,14.147,17.521,10"></path>
            </svg>
          </h2>
          <div
            class="border-l-2 border-purple-600 overflow-hidden max-h-0 duration-500 transition-all"
            x-ref="tab"
            :style="handleToggle()"
          >
            <p class="p-3 text-gray-900">
              Any method of payments acceptable by you. For example: We accept MasterCard, Visa, American Express, PayPal, JCB Discover, Gift Cards, etc.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</main>

<!----------------------------------------------------------------------------------started--------------------------------------------------------->

<div class="relative m-auto mb-6" style="height: 340px; width: 996px;">
  <div class="absolute inset-0 bg-cover bg-center " style="background-image: url(<%= asset_path 'homepage/bedroom.png' %>)"></div>
  <div class="absolute inset-0 bg-black bg-opacity-40 rounded-lg"></div>
  <div class="absolute inset-0 flex flex-col items-center justify-center">
    <h2 class="text-white text-2xl font-semibold mb-4">Have any Interior Design Project?</h2>
    <button class="bg-white text-black px-6 py-3 ">Get Started</button>
  </div>
</div>

<script>
    document.addEventListener('alpine:init', () => {
        Alpine.store('accordion', {
            tab: 0
        });

        Alpine.data('accordion', (idx) => ({
            init() {
                this.idx = idx;
            },
            idx: -1,
            handleClick() {
                this.$store.accordion.tab = this.$store.accordion.tab === this.idx ? 0 : this.idx;
            },
            handleRotate() {
                return this.$store.accordion.tab === this.idx ? 'rotate-180' : '';
            },
            handleToggle() {
                return this.$store.accordion.tab === this.idx ? `max-height: ${this.$refs.tab.scrollHeight}px` : '';
            }
        }));
    })
</script>
