<div class="relative h-screen" style="height: 400px;">
  <div class="absolute inset-0 bg-cover bg-center" style="background-image: url(<%= asset_path 'about/pricing.jpg' %>)">
    <div class="absolute inset-0 flex items-center justify-center">
      <button class="text-white px-6 py-3" style="border: 2px solid white">Pricing</button>
    </div>
  </div>
</div>