<div class="relative h-screen" style="height: 400px;">
  <div class="absolute inset-0 bg-cover bg-center" style="background-image: url(<%= asset_path 'services/services.jpg' %>)">
    <div class="absolute inset-0 flex items-center justify-center">
      <button class="text-white px-6 py-3" style="border: 2px solid white">Our Services</button>
    </div>
  </div>
</div>

<div class="container m-auto p-4">
  <div class="w-full p-8" style="background: linear-gradient(112.68deg, rgba(237, 199, 183, 0.3) -40.97%, rgba(237, 199, 183, 0.15) 116.72%);">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 mx-4 lg:mx-0 p-8">
      <!-- Card 1 -->
      <div class="bg-white rounded-lg shadow-lg h-211 w-273 p-4" style="background: linear-gradient(112.68deg, rgba(237, 199, 183, 0.3) -40.97%, rgba(237, 199, 183, 0.15) 116.72%);">
        <div class="flex flex-col items-center mb-2">
          <svg width="39" height="34" viewBox="0 0 39 34" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.5" width="38" height="34" rx="4" fill="url(#paint0_linear_53_80)"/>
            <path d="M24.5 14H26.5V12H24.5V14ZM24.5 18H26.5V16H24.5V18ZM24.5 22H26.5V20H24.5V22ZM24.5 26V24H28.5V10H19.5V11.4L17.5 9.95V8H30.5V26H24.5ZM8.5 26V16L15.5 11L22.5 16V26H16.5V21H14.5V26H8.5ZM10.5 24H12.5V19H18.5V24H20.5V17L15.5 13.45L10.5 17V24Z" fill="#21556C"/>
            <defs>
              <linearGradient id="paint0_linear_53_80" x1="-11.9305" y1="-20.651" x2="57.817" y2="11.9335" gradientUnits="userSpaceOnUse">
                <stop stop-color="#EDC7B7" stop-opacity="0.3"/>
                <stop offset="1" stop-color="#EDC7B7" stop-opacity="0.15"/>
              </linearGradient>
            </defs>
          </svg>
          <h3 class="text-lg font-bold">Home Advising</h3>
        </div>
        <p class="text-gray-700 text-center">Lorem ipsum dolor sit amet consectetur. Nisl molestie egestas velit
          condimentum cras
          nibh. A etiam purus
          dolor .</p>
      </div>

      <!-- Card 2 -->
      <div class="bg-white rounded-lg shadow-lg h-211 w-273 p-4" style="background: linear-gradient(112.68deg, rgba(237, 199, 183, 0.3) -40.97%, rgba(237, 199, 183, 0.15) 116.72%);
      ">
        <div class="flex flex-col items-center mb-2">
          <svg width="39" height="34" viewBox="0 0 39 34" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.5" width="38" height="34" rx="4" fill="url(#paint0_linear_53_80)"/>
            <path d="M24.5 14H26.5V12H24.5V14ZM24.5 18H26.5V16H24.5V18ZM24.5 22H26.5V20H24.5V22ZM24.5 26V24H28.5V10H19.5V11.4L17.5 9.95V8H30.5V26H24.5ZM8.5 26V16L15.5 11L22.5 16V26H16.5V21H14.5V26H8.5ZM10.5 24H12.5V19H18.5V24H20.5V17L15.5 13.45L10.5 17V24Z" fill="#21556C"/>
            <defs>
              <linearGradient id="paint0_linear_53_80" x1="-11.9305" y1="-20.651" x2="57.817" y2="11.9335" gradientUnits="userSpaceOnUse">
                <stop stop-color="#EDC7B7" stop-opacity="0.3"/>
                <stop offset="1" stop-color="#EDC7B7" stop-opacity="0.15"/>
              </linearGradient>
            </defs>
          </svg>
          <h3 class="text-lg font-bold">Design Consulting</h3>
        </div>
        <p class="text-gray-700 text-center">Lorem ipsum dolor sit amet consectetur. Nisl molestie egestas velit
          condimentum cras
          nibh. A etiam purus
          dolor .</p>
      </div>

      <!-- Card 3 -->
      <div class="bg-white rounded-lg shadow-lg h-211 w-273 p-4" style="background: linear-gradient(112.68deg, rgba(237, 199, 183, 0.3) -40.97%, rgba(237, 199, 183, 0.15) 116.72%);
      ">
        <div class="flex flex-col items-center mb-2">
          <svg width="39" height="34" viewBox="0 0 39 34" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.5" width="38" height="34" rx="4" fill="url(#paint0_linear_53_80)"/>
            <path d="M24.5 14H26.5V12H24.5V14ZM24.5 18H26.5V16H24.5V18ZM24.5 22H26.5V20H24.5V22ZM24.5 26V24H28.5V10H19.5V11.4L17.5 9.95V8H30.5V26H24.5ZM8.5 26V16L15.5 11L22.5 16V26H16.5V21H14.5V26H8.5ZM10.5 24H12.5V19H18.5V24H20.5V17L15.5 13.45L10.5 17V24Z" fill="#21556C"/>
            <defs>
              <linearGradient id="paint0_linear_53_80" x1="-11.9305" y1="-20.651" x2="57.817" y2="11.9335" gradientUnits="userSpaceOnUse">
                <stop stop-color="#EDC7B7" stop-opacity="0.3"/>
                <stop offset="1" stop-color="#EDC7B7" stop-opacity="0.15"/>
              </linearGradient>
            </defs>
          </svg>
          <h3 class="text-lg font-bold">Remodeling</h3>
        </div>
        <p class="text-gray-700 text-center">Lorem ipsum dolor sit amet consectetur. Nisl molestie egestas velit
          condimentum cras
          nibh. A etiam purus
          dolor .</p>
      </div>

      <!-- Card 4 -->
      <div class="bg-white rounded-lg shadow-lg h-211 w-273 p-4" style="background: linear-gradient(112.68deg, rgba(237, 199, 183, 0.3) -40.97%, rgba(237, 199, 183, 0.15) 116.72%);
      ">
        <div class="flex flex-col items-center mb-2">
          <svg width="39" height="34" viewBox="0 0 39 34" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.5" width="38" height="34" rx="4" fill="url(#paint0_linear_53_80)"/>
            <path d="M24.5 14H26.5V12H24.5V14ZM24.5 18H26.5V16H24.5V18ZM24.5 22H26.5V20H24.5V22ZM24.5 26V24H28.5V10H19.5V11.4L17.5 9.95V8H30.5V26H24.5ZM8.5 26V16L15.5 11L22.5 16V26H16.5V21H14.5V26H8.5ZM10.5 24H12.5V19H18.5V24H20.5V17L15.5 13.45L10.5 17V24Z" fill="#21556C"/>
            <defs>
              <linearGradient id="paint0_linear_53_80" x1="-11.9305" y1="-20.651" x2="57.817" y2="11.9335" gradientUnits="userSpaceOnUse">
                <stop stop-color="#EDC7B7" stop-opacity="0.3"/>
                <stop offset="1" stop-color="#EDC7B7" stop-opacity="0.15"/>
              </linearGradient>
            </defs>
          </svg>
          <h3 class="text-lg font-bold">Office Design</h3>
        </div>
        <p class="text-gray-700 text-center">Lorem ipsum dolor sit amet consectetur. Nisl molestie egestas velit
          condimentum cras
          nibh. A etiam purus
          dolor .</p>
      </div>
    </div>


    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 mx-4 lg:mx-0 m-8">
      <!-- Card 5 -->
      <div class="bg-white rounded-lg shadow-lg h-211 w-273 p-4" style="background: linear-gradient(112.68deg, rgba(237, 199, 183, 0.3) -40.97%, rgba(237, 199, 183, 0.15) 116.72%);
      ">
        <div class="flex flex-col items-center mb-2">
          <svg width="39" height="34" viewBox="0 0 39 34" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.5" width="38" height="34" rx="4" fill="url(#paint0_linear_53_80)"/>
            <path d="M24.5 14H26.5V12H24.5V14ZM24.5 18H26.5V16H24.5V18ZM24.5 22H26.5V20H24.5V22ZM24.5 26V24H28.5V10H19.5V11.4L17.5 9.95V8H30.5V26H24.5ZM8.5 26V16L15.5 11L22.5 16V26H16.5V21H14.5V26H8.5ZM10.5 24H12.5V19H18.5V24H20.5V17L15.5 13.45L10.5 17V24Z" fill="#21556C"/>
            <defs>
              <linearGradient id="paint0_linear_53_80" x1="-11.9305" y1="-20.651" x2="57.817" y2="11.9335" gradientUnits="userSpaceOnUse">
                <stop stop-color="#EDC7B7" stop-opacity="0.3"/>
                <stop offset="1" stop-color="#EDC7B7" stop-opacity="0.15"/>
              </linearGradient>
            </defs>
          </svg>
          <h3 class="text-lg font-bold">Material Selection</h3>
        </div>
        <p class="text-gray-700 text-center">Lorem ipsum dolor sit amet consectetur. Nisl molestie egestas velit
          condimentum cras
          nibh. A etiam purus
          dolor .</p>
      </div>

      <!-- Card 6 -->
      <div class="bg-white rounded-lg shadow-lg h-211 w-273 p-4" style="background: linear-gradient(112.68deg, rgba(237, 199, 183, 0.3) -40.97%, rgba(237, 199, 183, 0.15) 116.72%);
      ">
        <div class="flex flex-col items-center mb-2">
          <svg width="39" height="34" viewBox="0 0 39 34" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.5" width="38" height="34" rx="4" fill="url(#paint0_linear_53_80)"/>
            <path d="M24.5 14H26.5V12H24.5V14ZM24.5 18H26.5V16H24.5V18ZM24.5 22H26.5V20H24.5V22ZM24.5 26V24H28.5V10H19.5V11.4L17.5 9.95V8H30.5V26H24.5ZM8.5 26V16L15.5 11L22.5 16V26H16.5V21H14.5V26H8.5ZM10.5 24H12.5V19H18.5V24H20.5V17L15.5 13.45L10.5 17V24Z" fill="#21556C"/>
            <defs>
              <linearGradient id="paint0_linear_53_80" x1="-11.9305" y1="-20.651" x2="57.817" y2="11.9335" gradientUnits="userSpaceOnUse">
                <stop stop-color="#EDC7B7" stop-opacity="0.3"/>
                <stop offset="1" stop-color="#EDC7B7" stop-opacity="0.15"/>
              </linearGradient>
            </defs>
          </svg>
          <h3 class="text-lg font-bold">3D Rendering & Visualization</h3>
        </div>
        <p class="text-gray-700 text-center">Lorem ipsum dolor sit amet consectetur. Nisl molestie egestas velit
          condimentum cras
          nibh. A etiam purus
          dolor .</p>
      </div>

      <!-- Card 7 -->
      <div class="bg-white rounded-lg shadow-lg h-211 w-273 p-4" style="background: linear-gradient(112.68deg, rgba(237, 199, 183, 0.3) -40.97%, rgba(237, 199, 183, 0.15) 116.72%);
      ">
        <div class="flex flex-col items-center mb-2">
          <svg width="39" height="34" viewBox="0 0 39 34" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.5" width="38" height="34" rx="4" fill="url(#paint0_linear_53_80)"/>
            <path d="M24.5 14H26.5V12H24.5V14ZM24.5 18H26.5V16H24.5V18ZM24.5 22H26.5V20H24.5V22ZM24.5 26V24H28.5V10H19.5V11.4L17.5 9.95V8H30.5V26H24.5ZM8.5 26V16L15.5 11L22.5 16V26H16.5V21H14.5V26H8.5ZM10.5 24H12.5V19H18.5V24H20.5V17L15.5 13.45L10.5 17V24Z" fill="#21556C"/>
            <defs>
              <linearGradient id="paint0_linear_53_80" x1="-11.9305" y1="-20.651" x2="57.817" y2="11.9335" gradientUnits="userSpaceOnUse">
                <stop stop-color="#EDC7B7" stop-opacity="0.3"/>
                <stop offset="1" stop-color="#EDC7B7" stop-opacity="0.15"/>
              </linearGradient>
            </defs>
          </svg>
          <h3 class="text-lg font-bold">Kitchen & Bathroom Design</h3>
        </div>
        <p class="text-gray-700 text-center">Lorem ipsum dolor sit amet consectetur. Nisl molestie egestas velit
          condimentum cras
          nibh. A etiam purus
          dolor .</p>
      </div>

      <!-- Card 8 -->
      <div class="bg-white rounded-lg shadow-lg h-211 w-273 p-4" style="background: linear-gradient(112.68deg, rgba(237, 199, 183, 0.3) -40.97%, rgba(237, 199, 183, 0.15) 116.72%);
      ">
        <div class="flex flex-col items-center mb-2">
          <svg width="39" height="34" viewBox="0 0 39 34" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.5" width="38" height="34" rx="4" fill="url(#paint0_linear_53_80)"/>
            <path d="M24.5 14H26.5V12H24.5V14ZM24.5 18H26.5V16H24.5V18ZM24.5 22H26.5V20H24.5V22ZM24.5 26V24H28.5V10H19.5V11.4L17.5 9.95V8H30.5V26H24.5ZM8.5 26V16L15.5 11L22.5 16V26H16.5V21H14.5V26H8.5ZM10.5 24H12.5V19H18.5V24H20.5V17L15.5 13.45L10.5 17V24Z" fill="#21556C"/>
            <defs>
              <linearGradient id="paint0_linear_53_80" x1="-11.9305" y1="-20.651" x2="57.817" y2="11.9335" gradientUnits="userSpaceOnUse">
                <stop stop-color="#EDC7B7" stop-opacity="0.3"/>
                <stop offset="1" stop-color="#EDC7B7" stop-opacity="0.15"/>
              </linearGradient>
            </defs>
          </svg>
          <h3 class="text-lg font-bold">Furniture Selection</h3>
        </div>
        <p class="text-gray-700 text-center">Lorem ipsum dolor sit amet consectetur. Nisl molestie egestas velit
          condimentum cras
          nibh. A etiam purus
          dolor .</p>
      </div>
    </div>
  </div>

  <div class="flex flex-col sm:flex-row mt-8">
    <div class="w-full sm:w-762 sm:h-428">
      <%= image_tag 'services/unsplash.png', alt: 'services', class: 'h-full w-full object-cover rounded-t-lg md:rounded-l-lg md:rounded-t-none' %>
    </div>
    <div class="w-full sm:w-430 sm:h-428 p-8" style="background: linear-gradient(112.68deg, rgba(237, 199, 183, 0.3) -40.97%, rgba(237, 199, 183, 0.15) 116.72%);">
      <h3 class="text-lg font-bold" style="
        font-family: Agency FB;
        font-size: 36px;
        font-weight: 700;
        line-height: 43px;
      " >Designing Luxury Space</h3>
      <p style="
        padding-top: 15px;
        font-family: Manrope;
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0px;
        text-align: left;
      ">Lorem ipsum dolor sit amet consectetur. Vel nisi cursus malesuada leo. Pretium venenatis potenti pharetra enim
        risus. Amet lacus rhoncus ac viverra. Turpis nibh nibh quam mollis magna elit. Tempor velit neque netus cras.
        Proin..</p>
      <button class="text-white m-4 px-2 py-2" style="background: rgba(33, 85, 108, 1);
      ">Learn More</button>
    </div>
  </div>
</div>
